* { margin: 0; padding: 0; box-sizing: border-box; }

@media only screen and (min-width: 768px){
    body { font: 13px Helvetica, Arial; }
    div input { 
        border: 0;
        padding: 10px;
        width: 100%;
        background: transparent;
        border: none;
    }
    
    #inputs {
        position: absolute;
        top: 90%;
        left: 50%;
        margin-top: -50px;
        margin-left: -100px;
        width: 200px;
        height: 100px;
    }
    
    #chatcount {
        position: absolute;
        top: 95%;
        left: 0%;
        width: 200px;
    }
    
    #floater { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
        font-size: 75px;
    }
}

@media only screen and (max-width: 768px){
    body { font: 30px Helvetica, Arial; }
    div input { 
        border: 10px;
        padding: 10px;
        width: 100%;
        background: #D5D5D5;
        border: #181818;
        font-size: 50px;
    }

    #inputs {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -200px;
        width: 400px;
        height: 100px;
    }

    #chatcount {
        position: absolute;
        top: 95%;
        left: 0%;
        width: 200px;
    }

    #floater { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
        font-size: 50px;
    }
}

.floaterText { opacity: 0; }